*{
    font-size: 12px;
    font-family: Verdana,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#interface {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

}

#interface .cabecalho {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../images/hero-bg.png');
    background-repeat:no-repeat;
    background-size: cover;
}
#interface .cabecalho .logomenu { /*TAG NAV*/
    display: block;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    

}
#interface .cabecalho .logomenu .linkLogo {
    display: block;
    width: 100px;

}
#interface .cabecalho .logomenu a img {
    width:100%;

}
#interface .cabecalho .logomenu .menu {
    display: flex;
    flex
    list-style: none;
}
#interface .cabecalho .logomenu .menu li {
    display: inline-block;
}



